<ion-header>
  <ion-navbar>
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <!--ion-icon name="ionic" item-start></ion-icon-->
      Aqui irá aparecer os dados dos alunso da Space Fight.
      <br>
      <div *ngIf="objeto_alunos">
      <div *ngFor="let objeto of objeto_alunos">
        {{objeto.name}}

      </div>
    </div>
    </ion-item>
  </ion-list>
</ion-content>
